@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: cornflowerblue;
}

div.container{
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

div.box {
  width: 800px;
  height: 200px;
  /* background-color: cornflowerblue;
  border-radius: 10px;
  border: 2px solid #000; */
}

div.box div.text {
  height: 80px;
  font-size: 20pt;
  background-color: whitesmoke;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 50px;
  overflow: hidden;
}



div.input {
  background-color: rgb(66, 63, 253);
  
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 10px;
}

div.input input {
  width: 500px;
  height: 90%;
  border-radius: 5px;
  font-size: 18pt;
  padding: 0px 10px;
  transition: 2s;
}

div.input div.buttons {
  width: 200px;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

div.input div.buttons div.timer {
  width: 95px;
  height: 100%;
  color: whitesmoke;
  font-size: 18pt;
  background-color: rgb(80, 80, 80);
  border: 3px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.input div.buttons div.reset {
  width: 95px;
  height: 100%;
  font-size: 18pt;
  color: whitesmoke;
  background-color: rgb(119, 0, 0);
  border: 3px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


div.text span {
  border-radius: 10px;
  padding: 5px;
}

div.result {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  border: 2px solid black;
  background-color: black;
  
}

div.result div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  border-radius: 0px 0px 10px 10px;
  background-color: whitesmoke;
}
div.result div span {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid black;
}

span#title {
  font-weight: 900;
  font-size: 16pt;
}

span#ppm {
  color: green;
  padding-top: 0px;
  font-size: 32pt;
  font-weight: 900;
  border-bottom: none;
}

strong#teclasCertas {
  color: green;
}

strong#teclasErradas {
  color: red;
}

strong#palavrasCertas {
  color: green;
}

strong#palavrasErradas {
  color: red;
}



.bgGray {
  background-color: rgba(128, 128, 128, 0.623);

}

.bgRed {
  background-color: rgba(255, 0, 0, 0.774);
}


.disabled {
  transition: 2s;
  opacity: 0%;
}

.enable {
  transition: 2s;
  opacity: 100%;
}

.displayNone {
  display: none;
}